.main-layout {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}

.main-layout header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--quaternary-color);
}

.main-layout header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-icon {
    color: var(--primary-color);
    height: 2rem;
    width: 2rem;
    fill: var(--primary-color);
}

.main-layout header div h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.main-layout header div p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.main-layout footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-top: 2px solid var(--quaternary-color);
}

.main-layout footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-layout footer div p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.footer-icon {
    transition: all 0.3s ease;
}

.footer-icon:hover {
    color: var(--quinary-color);
    fill: var(--quinary-color);
}
