#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.error-page h1 {
    font-size: 2rem;
    font-weight: 600;
}

.error-page h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.error-page p {
    font-size: 1.2rem;
}

.error-page button {
    padding-inline: 1rem;
    cursor: pointer;
}
